.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;


    &__content {
        flex-basis: 50%;
    }

    &__img {
        flex-basis: 45%;
    }

    &__text {
        color: var(--paragraph-color) !important;
        line-height: 24px;
        max-width: 515px;
    }

    &__btn:hover {
        cursor: pointer;
        -webkit-box-shadow: 0px 16px 31px -12px rgba(244, 47, 44, 1);
        -moz-box-shadow: 0px 16px 31px -12px rgba(244, 47, 44, 1);
        box-shadow: 0px 16px 31px -12px rgba(244, 47, 44, 1);

    }
}

@media screen and (max-width:1050px) {
    .about {
        flex-direction: column;
        gap: 60px;
        padding-left: 30px;
        padding-right: 30px;


    }

    &__text {
        width: 100%;
    }


}