*,
*::after,
*::before {
    box-sizing: border-box;
    border: 0 solid transparent;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
}

// remove all animations, transitions and smooth scroll for people that prefer not to see them
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

// reset list style
ol,
ul {
    list-style: none;

}

// reset anchor style
a {
    cursor: pointer;
    color: inherit;
    text-decoration: inherit;
    -webkit-tap-highlight-color: transparent;
}

// inherit fonts for inputs and buttons
input,
button,
textarea,
select {
    font: inherit;
    line-height: inherit;
    color: inherit;
}

// prevent iOS font size change
html {
    -webkit-text-size-adjust: 100%;
}

:root {
    --color-primary: #f42f2c;
    --heading-color: #222222;
    --paragraph-color: #777777;
    --white: #ffffff;
    --bg-light: #f9f9ff;

    --f-family: 'Poppins', sans-serif;
    --fsize14: 14px;

}

// button {
//     display: block;
// }