.gallery {
    background-color: var(--bg-light);

    &__content {
        text-align: center;
    }

    &__imgs {
        padding-top: 4rem;
        background-color: #7777;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(6, 5vw);
        align-items: flex-start;
        grid-template-rows: 1fr;
        grid-gap: 40px;



        img {
            width: 100%;
            display: block;
            height: 100%;
            object-fit: cover;

        }


    }

    &__items {


        &--1 {
            grid-column: 1 / 3;

        }

        &--2 {
            grid-column: 3 / 5;

        }

        &--3 {
            grid-column: 5 / 7;

        }

        &--4 {
            grid-column: 1 / 3;
            grid-row: 2 / 3;

        }

    }


}

// .gallery__items--1 {
//     grid-column: 1/ 3;
// }