.gallery {
    background-color: var(--bg-light);

    &__content {
        text-align: center;
    }

    &__imgs {
        padding-top: 4rem;
        background-color: #7777;
        display: flex;
        // display: grid;
        // grid-template-columns: repeat(8, 1fr);
        // grid-template-rows: repeat(6, 5vw);
        // align-items: flex-start;
        // grid-template-rows: 1fr;
        grid-gap: 40px;



        // img {
        //     width: 100%;
        //     display: block;
        //     height: 100%;
        //     object-fit: cover;

        // }


    }

    &__items {
        flex-basis: 33.333%;




    }


}

// .gallery__items--1 {
//     grid-column: 1/ 3;
// }