.gallery {
    background-color: var(--bg-light);

    &__content {
        text-align: center;
    }

    &__imgs {
        padding-top: 4rem;
        background-color: #7777;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        // justify-content: flex-start;
        align-items: flex-start;
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 20px;


    }




}