.hero-section {
    background-image: url(/Images/hero-bg.jpg.jpg);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


    &__content {
        max-width: 1200px;
        margin: 0 auto;

    }

    &__logo-box {

        padding: 20px;
        text-align: center;
    }
}

p {
    color: #fff;
}