.hero-section {
    background-image: url(/Images/hero-bg.jpg.jpg);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0 40px;


    &__content {
        max-width: 1200px;
        margin: 0 auto;


    }

    &__logo-box {
        padding: 20px;
        text-align: center;
    }

    &__text {
        padding-top: 12rem;

    }

    &__sub-header {
        font-size: var(--fsize14);
        font-weight: 300;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #fff;

    }

    &__btn:hover {
        background-color: var(--heading-color);
        cursor: pointer;

    }

    &__paragraph {
        max-width: 515px;
        color: #fff;
    }


}