body {
    font-family: var(--f-family);
}

html {
    font-size: 100%;
}

.section-center {
    max-width: 1200px;
    margin: 0 auto;
    padding: 8rem 0;
}

.heading-1 {
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    line-height: 72px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.heading-2 {
    font-size: 36px;
    font-weight: 600;
    margin: 1rem 0;
    color: var(--heading-color);
}

.heading-3 {
    font-size: 18px;
    font-weight: 600;

}

.color-white {
    color: #fff;
}

.paragraph-1 {
    font-size: var(--fsize14);
    font-weight: 300;
    line-height: 22px;



}

.transform {
    transition: all 300ms ease-in-out;
}

.text-color {
    color: var(--paragraph-color);
}

.btn-1 {
    font-size: var(--fsize14);
    font-weight: 500;
    line-height: 42px;
    text-transform: uppercase;
    background-color: var(--color-primary);
    padding: 0 30px 0 30px;
    color: #fff;
    transition: all 300ms ease-in;
}

@media screen and (max-width:1200px) {
    .section-center {
        max-width: 1000px;
    }
}

@media screen and (max-width:1050px) {
    .section-center {
        max-width: 800px;
        // padding-left: 20px;
        // padding-right: 20px;


    }
}

@media screen and (max-width:790px) {
    .section-center {
        max-width: 600px;
        padding-left: 20px;
        padding-right: 20px;


    }
}

@media screen and (max-width:550px) {
    .section-center {
        max-width: 450px;
        // padding-left: 20px;
        // padding-right: 20px;


    }
}

.preloader {
    background-color: #000;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;

   
}


.loader {
    width: 40px;
    height: 98px;
    display: inline-block;
    position: relative;
    border: 2px solid #FFF;
    box-sizing: border-box;
    color: var(--color-primary);
    border-radius: 20px 20px 4px 4px;
    background: #fff;
    animation: fill 2s linear infinite alternate;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -95%);
    border: 2px solid #FFF;
    border-bottom: none;
    background: #fff;
    width: 15px;
    height: 35px;
    animation: fillNeck 2s linear infinite alternate;
}

@keyframes fill {
    0% {
        box-shadow: 0 0 inset
    }

    50%,
    100% {
        box-shadow: 0 -98px inset
    }
}


@keyframes fillNeck {

    0%,
    50% {
        box-shadow: 0 0 inset
    }

    100% {
        box-shadow: 0 -20px inset
    }
}