.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 20px;

    // background-color: ;



    &__navbtns {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

    }

    &__navLinks {
        background: transparent;
        // background-color: skyblue;
        border: none;
        color: var(--white);
        font-family: inherit;
        text-transform: uppercase;
        font-size: 12px !important;
        font-weight: 500;
        outline: none;
        transition: all 300ms ease;

    }

    &__navLinks:hover {
        cursor: pointer;
        color: var(--color-primary);
    }

    .fa-solid {
        margin-left: 3px;

    }

    &__dropdown-level-2 {
        display: flex;
        justify-content: space-between;
        align-items: center;


    }

    &__dropdown-level-2:hover {
        color: var(--color-primary);
    }

    &__drop-down {
        position: relative;
    }

    &__drop-down-list {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        gap: 10px;
        position: absolute;
        top: 45px;
        right: -10px;
        width: 200px;
        font-size: 12px;
        padding: 1.5rem;
        display: none;
        transition: all 450s ease-in-out;
    }

    &__drop-down.active &__drop-down-list {
        display: flex;
    }

    &__sub-list {
        background-color: rgb(255, 255, 255);
        position: absolute;
        padding: 1.5rem;
        gap: 10px;
        font-size: 12px;
        width: 200px;
        right: 200px;
        top: 43px;
        display: flex;
        flex-direction: column;
        display: none;

    }

    &__sub-list.show {
        display: flex;
    }

    &__icon,
    &__menu {
        display: none;
    }

    &__links:hover {
        color: var(--color-primary);

    }

    // &__arrow {
    //     font-weight: 500;
    // }





}

.btn-pg {
    font-size: 13px !important;

}

.fixedNav.navbar {
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(34, 34, 34, 0.9);
    width: 100%;
    border: 0;
    transition: all 400ms ease;
    padding: 1rem 2rem;
    z-index: 1000;
}

@media screen and (max-width:750px) {
    .navbar {
        justify-content: space-between;
        align-items: flex-end;



        &__content {
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 280px;
            background-color: rgba(0, 0, 0, .9);
            padding: 2rem;
            transform: translateX(-100%);
            transition: 0.5s ease-in;


        }

        &__content.show-sidebar {
            transform: translateX(0);

        }

        &__navbtns {
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding-top: 30px;

        }




        &__navLinks.active-color {
            color: var(--color-primary);

        }



        &__dropdown-level-2.clicked-color {
            color: var(--color-primary);

        }

        &__icon,
        &__menu {
            display: block;
        }

        &__menu {
            font-size: 16px;
            letter-spacing: 1.1px;
            font-family: inherit;
            color: #fff;
        }

        &__ham {
            cursor: pointer;
        }

        &__icon {
            position: relative;
            top: 9px;

            &,
            &::before,
            &::after {
                width: 1.5rem;
                height: 1px;
                background-color: #fff;
                display: inline-block;

            }

            &::before,
            &::after {
                content: '';
                position: absolute;
                left: 0;
                transition: all .3s;
            }

            &::before {
                top: -.5rem;
            }

            &::after {
                top: .5rem;
            }
        }

        &__ham:hover &__icon::before {
            top: -.6rem;

        }

        &__ham:hover &__icon::after {
            top: .6rem;

        }

        &__ham.rotate-icon &__icon {
            background-color: transparent;
        }

        &__ham.rotate-icon &__icon::before {
            top: 0;
            transform: rotate(135deg);
        }

        &__ham.rotate-icon &__icon::after {
            top: 0;
            transform: rotate(-135deg);
        }

        &__navLinks {
            font-size: var(--fsize14);

        }



        &__drop-down-list {
            position: static;
            background: transparent;
            color: #fff;
            font-size: var(--fsize14);
        }

        &__sub-list {
            position: static;
            background: transparent;
        }

        .drop-down-menu {
            display: flex;
            justify-content: space-between;
            align-items: center;

            // display

        }
    }
}