.navbar {
    display: flex;
    justify-content: center;
    align-content: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 20px;



    &__navbtns {
        display: flex;
        justify-content: center;
        align-content: center;
        gap: 20px;

    }

    &__navLinks {
        background: transparent;
        border: none;
        color: var(--white);
        font-family: inherit;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 500;
        outline: none;
        display: inline-block;
        cursor: pointer;
    }

    &__drop-down {
        position: relative;
    }

    &__drop-down-list {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        gap: 10px;
        position: absolute;
        top: 41px;
        right: -10px;
        width: 200px;
        font-size: 12px;
        padding: 2rem;
        display: none;
        transition: all 450ms ease-in-out, transform 250ms ease-in-out;
    }

    &__drop-down.active &__drop-down-list {

        display: flex;

    }

    &__sub-list {
        background-color: salmon;
        position: absolute;
        padding: 2rem;
        gap: 10px;
        font-size: 12px;
        width: 200px;
        right: 200px;
        top: 43px;
        display: flex;
        flex-direction: column;
        display: none;

    }

    &__sub-list.show {
        display: flex;
    }

    &__icon,
    &__menu {
        display: none;
    }




}

@media screen and (max-width:750px) {
    .navbar {
        justify-content: space-between;



        &__content {
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 280px;
            background-color: rgba(0, 0, 0, .9);
            padding: 2rem;
            transform: translateX(-100%);
            transition: 0.5s ease-in;


        }

        &__content.show-sidebar {
            transform: translateX(0);

        }

        &__navbtns {
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding-top: 30px;

        }

        &__navLinks.active-color {
            color: var(--color-primary);

        }

        &__dropdown-level-2.clicked-color {
            color: var(--color-primary);

        }

        &__icon,
        &__menu {
            display: block;
        }

        &__menu {
            font-size: 16px;
            letter-spacing: 1.1px;
            font-family: inherit;
        }

        &__ham {
            cursor: pointer;
        }

        &__icon {
            position: relative;
            top: 5px;

            &,
            &::before,
            &::after {
                width: 3rem;
                height: 2px;
                background-color: #fff;
                display: inline-block;
            }

            &::before,
            &::after {
                content: '';
                position: absolute;
                left: 0;
                transition: all .3s;
            }

            &::before {
                top: -.8rem;
            }

            &::after {
                top: .8rem;
            }
        }

        &__ham:hover &__icon::before {
            top: -1rem;

        }

        &__ham:hover &__icon::after {
            top: 1rem;

        }

        &__ham.rotate-icon &__icon {
            background-color: transparent;
        }

        &__ham.rotate-icon &__icon::before {
            top: 0;
            transform: rotate(135deg);
        }

        &__ham.rotate-icon &__icon::after {
            top: 0;
            transform: rotate(-135deg);
        }

        &__navLinks {
            font-size: 14px;
        }

        &__drop-down-list {
            position: static;
            background: transparent;
            color: #fff;
            font-size: 14px;
        }

        &__sub-list {
            position: static;
            background: transparent;
        }
    }
}