body {
  font-family: var(--f-family); }

html {
  font-size: 100%; }

.section-center {
  max-width: 1200px;
  margin: 0 auto;
  padding: 8rem 0; }

.heading-1 {
  font-size: 60px;
  font-weight: 700;
  color: #fff;
  line-height: 72px;
  margin-top: 1rem;
  margin-bottom: 1rem; }

.heading-2 {
  font-size: 36px;
  font-weight: 600;
  margin: 1rem 0;
  color: var(--heading-color); }

.heading-3 {
  font-size: 18px;
  font-weight: 600; }

.color-white {
  color: #fff; }

.paragraph-1 {
  font-size: var(--fsize14);
  font-weight: 300;
  line-height: 22px; }

.text-color {
  color: var(--paragraph-color); }

.btn-1 {
  font-size: var(--fsize14);
  font-weight: 500;
  line-height: 42px;
  text-transform: uppercase;
  background-color: var(--color-primary);
  padding: 0 30px 0 30px;
  color: #fff;
  transition: all 300ms ease-in; }

@media screen and (max-width: 1200px) {
  .section-center {
    max-width: 1000px; } }

@media screen and (max-width: 1050px) {
  .section-center {
    max-width: 800px; } }

@media screen and (max-width: 790px) {
  .section-center {
    max-width: 600px;
    padding-left: 20px;
    padding-right: 20px; } }

@media screen and (max-width: 550px) {
  .section-center {
    max-width: 450px; } }

*,
*::after,
*::before {
  box-sizing: border-box;
  border: 0 solid transparent; }

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0; }

/* Make images easier to work with */
img,
picture {
  max-width: 100%; }

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto; }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

ol,
ul {
  list-style: none; }

a {
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
  -webkit-tap-highlight-color: transparent; }

input,
button,
textarea,
select {
  font: inherit;
  line-height: inherit;
  color: inherit; }

html {
  -webkit-text-size-adjust: 100%; }

:root {
  --color-primary: #f42f2c;
  --heading-color: #222222;
  --paragraph-color: #777777;
  --white: #ffffff;
  --bg-light: #f9f9ff;
  --f-family: 'Poppins', sans-serif;
  --fsize14: 14px; }

input:focus::placeholder {
  color: transparent; }

input[type=number] {
  -moz-appearance: textfield; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

::selection {
  color: #fff;
  background-color: var(--color-primary); }

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px; }
  .navbar__navbtns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; }
  .navbar__navLinks {
    background: transparent;
    border: none;
    color: var(--white);
    font-family: inherit;
    text-transform: uppercase;
    font-size: 14px !important;
    font-weight: 500;
    outline: none;
    transition: all 300ms ease; }
  .navbar__navLinks:hover {
    cursor: pointer;
    color: var(--color-primary); }
  .navbar .fa-solid {
    margin-left: 3px; }
  .navbar__dropdown-level-2 {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .navbar__dropdown-level-2:hover {
    color: var(--color-primary); }
  .navbar__drop-down {
    position: relative; }
  .navbar__drop-down-list {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    gap: 10px;
    position: absolute;
    top: 45px;
    right: -10px;
    width: 200px;
    font-size: 12px;
    padding: 1.5rem;
    display: none;
    transition: all 450s ease-in-out; }
  .navbar__drop-down.active .navbar__drop-down-list {
    display: flex; }
  .navbar__sub-list {
    background-color: white;
    position: absolute;
    padding: 1.5rem;
    gap: 10px;
    font-size: 12px;
    width: 200px;
    right: 200px;
    top: 43px;
    display: flex;
    flex-direction: column;
    display: none; }
  .navbar__sub-list.show {
    display: flex; }
  .navbar__icon, .navbar__menu {
    display: none; }
  .navbar__links:hover {
    color: var(--color-primary); }

.fixedNav.navbar {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(34, 34, 34, 0.9);
  width: 100%;
  border: 0;
  transition: all 400ms ease;
  padding: 1rem 2rem;
  z-index: 1000; }

@media screen and (max-width: 750px) {
  .navbar {
    justify-content: space-between;
    align-items: flex-end; }
    .navbar__content {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 280px;
      background-color: rgba(0, 0, 0, 0.9);
      padding: 2rem;
      transform: translateX(-100%);
      transition: 0.5s ease-in; }
    .navbar__content.show-sidebar {
      transform: translateX(0); }
    .navbar__navbtns {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding-top: 30px; }
    .navbar__navLinks.active-color {
      color: var(--color-primary); }
    .navbar__dropdown-level-2.clicked-color {
      color: var(--color-primary); }
    .navbar__icon, .navbar__menu {
      display: block; }
    .navbar__menu {
      font-size: 16px;
      letter-spacing: 1.1px;
      font-family: inherit;
      color: #fff; }
    .navbar__ham {
      cursor: pointer; }
    .navbar__icon {
      position: relative;
      top: 9px; }
      .navbar__icon, .navbar__icon::before, .navbar__icon::after {
        width: 1.5rem;
        height: 1px;
        background-color: #fff;
        display: inline-block; }
      .navbar__icon::before, .navbar__icon::after {
        content: '';
        position: absolute;
        left: 0;
        transition: all .3s; }
      .navbar__icon::before {
        top: -.5rem; }
      .navbar__icon::after {
        top: .5rem; }
    .navbar__ham:hover .navbar__icon::before {
      top: -.6rem; }
    .navbar__ham:hover .navbar__icon::after {
      top: .6rem; }
    .navbar__ham.rotate-icon .navbar__icon {
      background-color: transparent; }
    .navbar__ham.rotate-icon .navbar__icon::before {
      top: 0;
      transform: rotate(135deg); }
    .navbar__ham.rotate-icon .navbar__icon::after {
      top: 0;
      transform: rotate(-135deg); }
    .navbar__navLinks {
      font-size: var(--fsize14); }
    .navbar__drop-down-list {
      position: static;
      background: transparent;
      color: #fff;
      font-size: var(--fsize14); }
    .navbar__sub-list {
      position: static;
      background: transparent; }
    .navbar .drop-down-menu {
      display: flex;
      justify-content: space-between; } }

.hero-section {
  background-image: url(./Images/hero-bg.jpg.jpg);
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0 40px; }
  .hero-section__content {
    max-width: 1200px;
    margin: 0 auto; }
  .hero-section__logo-box {
    padding: 20px;
    text-align: center; }
  .hero-section__text {
    padding-top: 12rem; }
  .hero-section__sub-header {
    font-size: var(--fsize14);
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff; }
  .hero-section__btn:hover {
    background-color: var(--heading-color);
    cursor: pointer; }
  .hero-section__paragraph {
    max-width: 515px;
    color: #fff;
    padding-bottom: 1.5rem; }

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px; }
  .about__content {
    flex-basis: 50%; }
  .about__img {
    flex-basis: 45%; }
  .about__text {
    color: var(--paragraph-color) !important;
    line-height: 24px;
    max-width: 515px;
    padding-bottom: 1.5rem; }
  .about__btn:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 16px 31px -12px #f42f2c;
    -moz-box-shadow: 0px 16px 31px -12px #f42f2c;
    box-shadow: 0px 16px 31px -12px #f42f2c; }

@media screen and (max-width: 1050px) {
  .about {
    flex-direction: column;
    gap: 60px;
    padding-left: 30px;
    padding-right: 30px; }
  __text {
    width: 100%; } }

.drinks {
  background-color: var(--bg-light); }
  .drinks__content {
    text-align: center; }
  .drinks__links {
    display: flex;
    align-items: center;
    -webkit-box-shadow: 1px 1px 26px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 1px 26px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 26px 3px rgba(0, 0, 0, 0.1);
    padding: 0;
    margin: 0;
    margin-top: 5rem;
    border-radius: 15px;
    overflow: hidden;
    gap: 2px; }
  .drinks__Btns {
    padding: 45px 0;
    font-size: 12px;
    color: var(--heading-color);
    background-color: #fff;
    font-weight: 500;
    width: 210px;
    cursor: pointer; }
  .drinks .active {
    background-color: var(--color-primary);
    color: #fff; }
  .drinks__list {
    padding-top: 4rem;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
    transition: all 400ms ease-in; }
  .drinks__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5rem; }
  .drinks__blocks {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    -webkit-box-shadow: 3px 2px 38px -7px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 3px 2px 38px -7px rgba(0, 0, 0, 0.05);
    box-shadow: 3px 2px 38px -7px rgba(0, 0, 0, 0.05); }
  .drinks__text {
    text-align: left;
    width: 80%;
    color: var(--paragraph-color);
    font-family: inherit; }
  .drinks__price {
    color: var(--color-primary);
    font-size: 18px;
    font-weight: 600; }

@media screen and (max-width: 790px) {
  .drinks__Btns {
    padding: 20px 0;
    font-size: 10px; }
  .drinks__list {
    grid-template-columns: 1fr; } }

@media screen and (max-width: 550px) {
  .drinks__links {
    flex-direction: column;
    background-color: #fff; }
  .drinks__blocks {
    padding: 1.4rem; }
  .drinks__Btns {
    padding: 20px 0;
    font-size: 10px;
    width: 100%; }
  .drinks__text {
    width: 100%; } }

.reservation {
  background: linear-gradient(rgba(17, 22, 24, 0.75), rgba(17, 22, 24, 0.75)), url(./Images/reservation-bg.jpg.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh; }
  .reservation__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 130px; }
  .reservation__text {
    flex-basis: 50%; }
  .reservation__heading {
    color: #fff !important; }
  .reservation__paragraph {
    color: #fff !important; }
  .reservation__form {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 100px 40px;
    gap: 10px; }
  .reservation .form-input {
    padding: 0.575rem 0.75rem;
    border-color: #222222;
    color: #999999;
    border: 1px solid #ced4da; }
  .reservation .form-input:focus {
    outline: none; }

.dropdown-menu {
  width: 100%; }

.drop-list:hover {
  color: var(--color-primary);
  cursor: pointer; }

select {
  padding: 0.575rem 0.75rem;
  color: #999999;
  border: 1px solid #ced4da; }

select:focus {
  outline: none; }

option {
  font-size: 14px;
  font-weight: 300;
  padding: 0 29px 0 12px; }

option:hover {
  color: var(--color-primary) !important;
  cursor: pointer !important; }

option:checked {
  color: var(--color-primary); }

@media screen and (max-width: 975px) {
  .reservation {
    height: auto; }
    .reservation__content {
      flex-direction: column;
      gap: 80px; }
    .reservation__text {
      flex-basis: 50%; }
    .reservation__heading {
      color: #fff !important; }
    .reservation__paragraph {
      color: #fff !important; }
    .reservation__form {
      flex-basis: 50%;
      display: flex;
      flex-direction: column;
      background-color: #fff;
      width: 100%;
      gap: 10px;
      border-radius: 5px; }
    .reservation .form-input {
      padding: 0.575rem 0.75rem;
      border-color: #222222;
      color: #999999;
      border: 1px solid #ced4da; }
    .reservation .form-input:focus {
      outline: none; } }

.gallery {
  background-color: var(--bg-light); }
  .gallery__content {
    text-align: center; }
  .gallery__imgs {
    padding-top: 4rem;
    background-color: #7777;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-start;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px; }

.testimonals {
  background-image: url(./Images/review-bg.jpg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh; }

.blogs__header {
  text-align: center;
  padding-bottom: 70px; }

.blogs__rows {
  display: grid;
  grid-template-columns: repeat(4, 1fr); }

.blogs__col {
  padding: 0 15px 0 15px; }

.blogs__img-box {
  overflow: hidden; }

.blogs .blog-img {
  display: block;
  transition: all .3s ease 0s;
  object-fit: cover;
  width: 100%; }

.blogs .blog-img:hover {
  transform: scale(1.1);
  cursor: pointer; }

.blogs__date {
  background-color: #000;
  display: inline-block;
  color: #fff;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 100;
  padding: 2px 15px 2px 15px; }

.blogs__col-header {
  font-size: 18px;
  font-weight: 600;
  margin-top: 15px;
  line-height: 22px;
  transition: all 200ms ease-in;
  width: 90%; }

.blogs__col-header:hover {
  cursor: pointer;
  color: var(--color-primary); }

.blogs__text {
  margin-top: 15px;
  font-size: 14px;
  font-weight: 300; }

.blogs__footer {
  display: flex;
  margin-top: 15px;
  justify-content: space-between; }

.blogs__likes, .blogs__comments {
  color: var(--paragraph-color);
  font-weight: 300;
  font-size: 14px; }

@media screen and (max-width: 1000px) {
  .blogs__rows {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 50px; } }

@media screen and (max-width: 550px) {
  .blogs__rows {
    grid-template-columns: 1fr;
    grid-row-gap: 40px; }
  .blogs__col {
    padding: 0; } }

.footer {
  background-color: var(--color-primary); }
  .footer__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px; }
  .footer__col {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    border-bottom: 1px solid rgba(238, 238, 238, 0.3); }
  .footer__col p {
    padding-top: 20px;
    padding-bottom: 20px; }
  .footer__rows {
    flex-basis: 33.333%;
    color: #fff; }
  .footer__numbers {
    font-size: 24px;
    font-weight: 600; }
  .footer h6 {
    color: #fff !important;
    padding-bottom: 1.5rem; }
  .footer__address {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 90%; }
  .footer__form {
    position: relative; }
  .footer__input-field {
    width: 100%;
    border: 0;
    border-radius: 50px;
    padding: 0.575rem 0.75rem;
    line-height: 1.5;
    font-size: 13px; }
  .footer__input-field:focus {
    outline: none; }
  .footer__btn {
    background-color: var(--color-primary);
    position: absolute;
    right: 1px;
    top: 1px;
    border-radius: 50%;
    padding: 0.375rem 0.65rem; }

@media screen and (max-width: 850px) {
  .footer__content {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 600px) {
  .footer__content {
    grid-template-columns: 1fr; } }

.copy-rights {
  background-color: var(--heading-color); }
  .copy-rights__content {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 1rem 0; }
  .copy-rights__icons-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    gap: 6px; }
  .copy-rights__links {
    background-color: #000;
    padding: .45rem;
    font-size: 14px;
    font-weight: 300;
    transition: all 300ms ease; }
  .copy-rights__links:hover {
    background-color: var(--color-primary);
    color: #fff; }

@media screen and (max-width: 1200px) {
  .copy-rights__content {
    max-width: 1000px; } }

@media screen and (max-width: 1050px) {
  .copy-rights__content {
    max-width: 800px; } }

@media screen and (max-width: 790px) {
  .copy-rights__content {
    max-width: 600px;
    padding-left: 20px;
    padding-right: 20px; } }

@media screen and (max-width: 550px) {
  .copy-rights__content {
    max-width: 450px;
    flex-direction: column;
    justify-content: center;
    gap: 20px; } }
