*,
*::after,
*::before {
  box-sizing: border-box; }

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0; }

img,
picture {
  max-width: 100%; }

:root {
  --color-primary: #f42f2c;
  --heading-color: #222222;
  --paragraph-color: #777777;
  --half-white: #ffffff;
  --f-family: 'Poppins', sans-serif; }

.hero-section {
  background-image: url(/Images/hero-bg.jpg.jpg);
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .hero-section__content {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center; }
  .hero-section__logo-box {
    margin-top: 20px; }
